*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}
header{
    width: 100%;
    background-image: linear-gradient(40deg, rgba(12, 97, 136, 0.678), rgba(22, 172, 218, 0.699));
    color: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.226);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-rules{
    width: 110px;
    height: 30px;
    font-size: medium;
    font-size: large;
    background-image: linear-gradient(75deg, rgb(207, 206, 206), rgb(211, 208, 208));
    border-radius: 5px;
    box-shadow: 0px 5px gray;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.btn-rules:hover{
    filter: brightness(1.08);
}
.block01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-rules{
    position: absolute;
    top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 10px;
    width: 600px;
    height: 150px;
    background-color: white;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.377));
    transition: all 700ms ease-in-out;
}
.card-rules .box-upper-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.box-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: large;
    background-color: rgb(213, 229, 245);
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.247));
    margin-bottom: 30px;
    cursor: pointer;
}
.card-rules .box-lowwer-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text{
    width: 85%;
    font-size: larger;
    padding: 20px;
}
